{% extends "layout.html" %}

{% block title %}Job form{% endblock %}

{% block content %}
<CENTER>
<BR>
<h4>Colmet OAR job data extraction</h4>
<FORM ACTION=../graph/job METHOD=GET>
<TABLE>
<TR><TD>Job ID:</TD><TD><INPUT TYPE=text SIZE=10 NAME=id VALUE="{{def_id}}"></TD></TR>
<TR><TD>Begin (seconds):</TD><TD><INPUT TYPE=text NAME=t_min VALUE="{{def_begin}}" SIZE=10></TD></TD></TR>
<TR><TD>End (seconds):</TD><TD><INPUT TYPE=text NAME=t_max VALUE="{{def_end}}" SIZE=10></TD></TD></TR>
<TR><TD>Resolution (points):</TD><TD><INPUT TYPE=text NAME=resolution VALUE="{{def_res}}" SIZE=10></TD></TD></TR>
<TR><TD>Type:</TD><TD>
  <SELECT name=type>
    <OPTION VALUE="graph">Graph</OPTION>
    <OPTION VALUE="extract">Extract only</OPTION>
  </SELECT>
</TD></TD></TR>
<TR><TD COLSPAN=2><HR></TD></TR>
<TR><TD COLSPAN=2><CENTER><INPUT TYPE=submit NAME=ok VALUE=GO></CENTER></TD></TD></TR>
</TABLE>
</FORM>
</CENTER>

{% endblock %}
