<h1>Welcome to experimental OAR/Colmet jobs monitoring on {{cluster_name}}</h1>


<a href=form/job>Click here to graph a {{cluster_name}} job if you know the id</a>

<P>
Or choose from the current running jobs:
<P>
<UL>
{% for job in jobs|sort %}
  {% if job['stop_time'] == 0 %}
    {% set end=now-job['start_time'] %}
  {% else %}
    {% set end=job['start_time'] %}
  {% endif %}
  
  <li><a href=form/job?id={{job['id']}}&begin=0&end={{end}}>{{job['id']}}</a> ({{job['owner']}}, {{job['resources']|length}} resources)
{% endfor %}
</UL>
