{% extends "layout.jinja2" %}

{% block title %}{{ config.SITE_DESCRIPTION }}{% endblock title %}
{% block subtitle %}{{ config.SITE_TITLE }} - {% endblock subtitle %}
{% block head %}
{{ super() }}
{% endblock head %}


{% block content %}
<h2>Test : Job0/frog138</h2>
<div id="vis"></div>
{% endblock content %}


{% block footer %}
<script type="text/javascript">
// parse a spec and create a visualization view
function parse(spec) {
  vg.parse.spec(spec, function(chart) { chart({el:"#vis"}).update(); });
}
parse("{{ url_for('frontend.vega_json') }}");
</script>
{% endblock footer %}
