<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>{% block subtitle %}{% endblock subtitle %}{% block title %}{{ config.SITE_TITLE }} {% endblock title %}</title>
<meta name="description" content="{% block description %}{{ config.SITE_DESCRIPTION }}{% endblock description %}" />
<meta name="author" content="Salem Harrache" />
{% block head %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
<script src="http://trifacta.github.com/vega/vega.js"></script>
{% endblock head %}
</head>

<body>
{% block body %}
  <div class="shadow">
    <header>
    </header>

    <div id="nav">
    </div>

    <div id="wrapper">
        <section class="left">
        </section>
        <section>
          {% block content %}<div id="vis"></div>{% endblock content %}
        </section>
    </div>
  </div>
</body>
{% endblock body %}
{% block footer %}
{% endblock footer %}
</html>
